.auk.auk--#{$skin-name} .uk-button-primary {
    background: $button-default-color;
}

.auk.auk--#{$skin-name} .alpheios-morph__linkedattr {
    color: $button-default-color;
}
.auk.auk--#{$skin-name} .alpheios-popup__header-selection {
    color: $header-default-color;
}

.auk.auk--#{$skin-name} #alpheios-lexical-data-container {
  background-color: $background-default-color;
}

.auk.auk--#{$skin-name} .alpheios-definition__text {
  font-size: 1.25rem;
}
