html { font-size: 12pt; }

body { background: #fff; font-family: "cochin, book antiqua","times new roman",times; margin: 3em !important; }

a { text-decoration:none; }

p {
	color: #000;

	font-size: 100%;
	font-family:"cochin, book antiqua","times new roman",times;
	
	line-height: 1.7em;

	text-align: justify;
	text-indent: 1em;
	
	margin-left: 2em;
	margin-right: 1em;
}

p.internal_navigation { display: none !important; }

li {
	list-style-type: none;

	font-size: 100%;
	font-family:"cochin, book antiqua","times new roman",times;

	text-align: justify;
	text-indent: 0em;

	padding-left: 6em;
	padding-right: 6em;
}

li.numbered {

	list-style-type: decimal;
	counter-increment: item
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	text-align: justify;
	text-indent: 0em;
	padding-left: 6em;
	padding-right: 6em;
}

div.page_wrapper { text-align: justify; margin: 0em !important; }

h2, p.pagehead {
	font-size: 120%;
	font-family:"cochin, book antiqua","times new roman",times;
	font-weight: normal;

	color: #000;

	text-align: center;
	text-indent: 0em;
}

p.table_of_contents, p.margin {
	display: none !important;
}

p.poetry {
	font-size: 14pt;
	font-family:"book antiqua","times new roman",times;
	text-align: justified;
	padding-left: 6em;
	padding-right: 6em;		
}

p.blockquote {
	font-size: 11pt;
	font-family:"book antiqua","times new roman",times;		
	text-align: center;
	text-indent: 0em;
	padding-left: 10em;
	padding-right: 10em;
}

p.citation {
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	text-align: center;	
	padding-left: 10em;
	padding-right: 10em;
}

p.subpagehead {
	font-size: 14pt;
	font-family:"book antiqua","times new roman",times;
	color: black;
	text-align: center;
	text-indent: 0em;

}

p.sectionhead {
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	padding-left: 60px;
	padding-right: 60px;
		
}

p.border {
	
	font-size: 14pt;
	font-family:"cochin";
	font-weight: bold;
	text-align: center;
	text-indent: 0em;	
	padding-left: 3em;
	padding-right: 3em;
	margin-left: 3em;
	margin-right: 3em;
	border-top-style: double;

}

p.smallborder {
	display: none !important;
}

p.verysmallborder {
	
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	font-weight: bold;
	text-align: center;	 
	margin-left: 20em;
	margin-right: 20em;
	border-top-style: double;

}

p.shortborder {
	
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	font-weight: bold;
	text-align: center;
	text-indent: 3em;	
	padding-left: 3em;
	padding-right: 3em;	 
	margin-left: 60px;
	margin-RIGHT: 360px;
	border-top: thin outset #BBBBBB;
	border-top-style: double;

}

div.doubleborder {
	
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	font-weight: bold;
	text-align: center;
	text-indent: 2em;	
	padding-left: 3em;
	padding-right: 3em;	 
	margin-left: 3em;
	border-top-style: double;

}

table { 
	display: none !important;
}

tr { 
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
	text-align: center;
}

td { 
	font-size: 13pt;
	font-family:"book antiqua","times new roman",times;
}